body .form{
    background-color: white;
    height: 850px;
    width: 1000px;
    position: relative;
    left: 400px;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius:20px;
}
#menu_top{
	background: #141414;
	height: 40px;
}
#banner{
	height: auto;
	width: 1000px;
}
#footer ul li{
	font-size: 100px;
}
#dropdown1{
    float: left; 
}
#dropdown{
    float: right;
}

#Container_1
{
   position: relative;
   margin-top: 5%;
}
